$berlinGrey: #cebfb2;
$cardbackground: beige;
$clr-gray: rgba(white, .95);

$neutral: #e5dada;

$primary: #840032;
$secondary: #e59500;
$dark: #002642;

$primary-black: #222337;
$secondary-black: lighten($primary-black, 15%);