@import '_variables';
@import '_feed-item';
@import '_fonts';


// font-family: 'Space Grotesk', sans-serif;
body {
  background: $neutral;
  // background: linear-gradient(135deg, lighten($neutral, 5) 42%,  $dark 42% 47%, $secondary 47% 52%, $primary 52% 57%, lighten($neutral, 5) 57% 100% );
  font-family: $ff-grotesk;
  margin: 0px;
  padding: 0px;
}
.feed-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: lighten($neutral, 5);
  background: linear-gradient(320deg, $primary 5%, $secondary 5% 10%, $dark 10% 15%, lighten($neutral, 5) 15% 100% );
  border: 3px solid black;
  border-radius: 10px;
  margin: 40px 0px;
  padding-bottom: 1em;
  font-family: $ff-grotesk;
  filter: drop-shadow(0 .25em 0.25rem $secondary);

  .below-painting {
    filter: drop-shadow(0 .25em 0.25rem $primary-black);
  }

  .tombstone:hover .painting:hover {
    opacity: 0.4;
  }

  .frame {
    position: relative;
    background: $clr-gray;
    filter: drop-shadow(0 .25em 0.25rem $primary-black);
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .painting {
      max-width: 100%;
      display: block;
      transition: opacity ease-out 250ms;
      opacity: 1;
    }
    .painting:hover{
      opacity: 0.4;
    }

    .tombstone {
      font-family: $ff-roboto;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 10%;
      color: $primary-black;
      opacity: 0;
      transition: opacity ease-out 250ms;
      flex-wrap: none;
      user-select: none;
      p {
        line-height:.5em;
      }
      .tombstone-artist {
        font-size: 1.3em;
        line-height: 1em;
        .artist-name {
          font-weight: 900;
        }
        .artist-born {
          font-weight: 500;
        }
      }
      .tombstone-painting {
        font-size: 1.25em;
        line-height: 1em;
        .piece-title {
          font-weight: 700;
          font-style: italic;
        }
        .piece-date {
          font-weight: 400;
          font-style: normal;
        }
      }
      .tombstone-medium {
        font-weight: 400;
        color: darken($secondary-black, 20);
      }
      .tombstone-summary {
        font-size: .8em;
        line-height: 1.5em;
        font-weight: 300;
        color: darken($secondary-black, 20);
      }
    }

    &:hover .tombstone {
      opacity: 1;
    }
  }
}

.art-name {
  font-family: $ff-poppins;
  font-weight: 500;
  font-style: italic;
  margin-top: .25em;
  display: inline-block;
  color: $secondary-black;
  font-size: 1.1em;

  &:before,
  &:after {
    font-family: $ff-grotesk;
    font-weight: 700;
    font-size: 1.5em;
  }

  &:before{
    content: open-quote;
    padding-right: .20em
  }

  &:after {
    content: close-quote;
    padding-left: .20em
  }
}

.engagement {
  // make this the width of the picture
  width: 30vw;
  border: 1px solid black;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $primary;

  .rating,
  .fav{
    padding: .5em 1em;
  }
  .fav-icon-button {
    border-style: none;
    background: $primary;
    &:active{
      background: darken($primary, 10);
    }
    &:hover{
      cursor: pointer;
    }
  }
  
  .fav-icon {
    max-width: 25px;
    &:active{
      color: white;
    }
  }

}

.comments {
  display:flex;
  justify-content: space-between;
  background-color: white;
  width: 30vw;
  border: 1px solid black;
  .comment-field {
    background-color: white;
    border-style: none;
    height: 5vh;
    width: 100%

  }

  .submit-comment {
    border: none;
    border-radius: 0px;
    color: lighten($neutral, 5);
    background-color: $primary;

    &:hover {
      color: $primary-black;
      background-color: $secondary;
      cursor: pointer;
    }

    &:active {
      background-color: darken($secondary, 10)
    }
  }
  
}
.feed {
  min-width: 40vw;
}

.feed-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($neutral, 10);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $primary-black;
  padding: .25rem 1.5rem;
  z-index: 1;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  .user {
    padding-right: 3em;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: $secondary-black;
  
  &:hover{
    color: $primary;
  }
}

.app-title {
  font-family: $ff-poppins;
  font-weight: 200;
  font-size: 3em;
  display: inline-block;
  color: $dark;
  &:hover {
    color: $primary;
  }
}



:root {
  --star-size: 40px;
  --star-color: #fff;
  --heart-size: 40px
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, $secondary var(--percent), $neutral var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.heart {
  --percent: calc(var(--fav) / 5 * 100%);
  display: inline-block;
  font-size: var(--heart-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '♥';
    letter-spacing: 3px;
    background: linear-gradient(90deg, $secondary var(--percent), $neutral var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.dropbtn {
  padding: 1.75em 1em;
  border-style: none;
  border-right: 3px solid $secondary;
  border-left: 3px solid $secondary;
  background-color: $dark;
  color: $neutral;
}
.userRating {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: block;

    }
    .dropbtn{
      background-color:  $secondary;
      color: $primary-black;
      border-right: 3px solid $dark;
      border-left: 3px solid $dark;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;

  a {
    color: $dark;
    text-decoration: none;
    display: block;
    z-index: 3;
    padding-left: .2em;

    &:hover {
      background-color: #ddd;
      z-index: 3;
    }
  }

}